# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
antenv/

# =========================
# Local secrets / settings
# =========================
.env
local.settings.json
prod_settings.*
test_settings.*

# =========================
# Build / output
# =========================
output.tar.gz

# =========================
# Binaries
# =========================
ffmpeg/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
